:root {
  --default-header-height: 64px;
  --default-footer-height: 48px;
}

.page {
  min-height: calc(
    100vh - var(--default-header-height) - var(--default-footer-height)
  );
}

.ripple-root {
  @apply relative overflow-hidden;
}

.ripple-effect {
  background: rgba(255, 255, 255, 0.5);
  /* background: rgba(0, 0, 0, 0.5); */
  transform: scale(0);
}